.address {
  margin-top: 20px;
  padding-bottom: 60px;
  line-height: 1.7;
  font-size: 14px;
  text-decoration: none;

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
  &__link {
    color: inherit;
    text-decoration: none;
  }
  &__item--gray {
    color: $color-footer-text;
  }
  &__item--white {
    color: $color-white;
  }
}
