.contact-links {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $color-grey;
  text-decoration: none;
  transition: $transition;
  &:last-child {
    margin-left: 30px;
  }
  &:hover,
  &:focus,
  &:active {
    color: $color-active;
  }
  &__icons {
    --color2: currentColor;
    fill: var(--color2);
    margin-right: 10px;
  }
}
