.contact-links {
  display: none;
  @include tablet {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__item {
    @include desktop {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    color: $color-grey;
    text-decoration: none;
    transition: $transition;
    &:hover,
    &:focus,
    &:active {
      color: $color-active;
    }
  }
  &__icons {
    --color2: currentColor;
    fill: var(--color2);
    margin-right: 10px;
  }

  @include desktop {
    display: block;
  }
}
