.footer-social {
  width: 206px;
  margin-left: 70px;

  &__title {
    font-size: 14px;
    line-height: 1.17;
    margin-bottom: 20px;
    &--white {
      color: $color-white;
    }
  }

  &__icon-team {
    background-color: $icon-footer-background;
    fill: $color-white;
  }
}
