.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include desktop {
    justify-content: flex-start;
  }
  &__logo {
    padding-top: 24px;
    padding-bottom: 25px;
    width: 145px;
  }
  &__icon {
    &:hover,
    &:focus {
      fill: $color-active;
    }
  }
  &__btn {
    display: block;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;

    @include tablet {
      & {
        display: none;
      }
    }
  }
}
