.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include desktop {
    justify-content: flex-start;
  }
  &__logo {
    padding-top: 24px;
    padding-bottom: 25px;
    width: 145px;
  }
}
