.icon {
  display: flex;
  display: flex;
  align-content: center;
  gap: 10px;
  border-radius: 50%;
  fill: $client-logo;
  padding: 12px;
  transition: $transition;
  &:hover {
    background-color: $color-active;
    fill: $color-white;
    cursor: pointer;
  }
}
