.inputs {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 40px 20px 40px;

  &__svg:nth-child(3) {
    position: absolute;
    top: 38px;
    left: 50px;
  }

  &__svg:nth-child(6) {
    position: absolute;
    top: 109px;
    left: 50px;
  }

  &__svg:nth-child(9) {
    position: absolute;
    top: 175px;
    left: 50px;
  }
  &__link {
    color: $color-active;
  }
  &__label {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.01em;
    text-align: left;
    color: $color-grey;
    padding-top: 10px;
    padding-bottom: 4px;
  }

  &__textarea {
    resize: none;
    display: block;
    outline: none;
    height: 120px;
    padding: 12px 16px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.01em;
    text-align: left;
    color: $color-grey;
    border: $inputs-border;
    border-radius: 4px;
    transition: $transition;
    &:focus {
      border-color: $color-active;
    }
  }
  &__label-tos {
    display: block;
    text-align: center;
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.7;
    &--grey {
      color: $color-grey;
    }

    &::before {
      display: inline-flex;
      position: absolute;
      bottom: 106px;
      left: 55px;
      content: "";
      height: 15px;
      width: 16px;
      border: $checkbox-border;
      border-radius: 2px;
      background-repeat: no-repeat;
    }
  }
  &__input {
    height: 40px;
    padding-left: 40px;
    border: $inputs-border;
    border-radius: 4px;
    outline: none;
    transition: $transition;
    &:focus + svg,
    &:focus {
      border-color: $color-active;
      fill: $color-active;
    }
  }
  &__input-tos {
    appearance: none;
    &:checked + label::before {
      background-color: $color-active;
      border: none;
      background-image: $checkbox-active;
    }
  }
}
