.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color: inherit;
  line-height: 1.17;
  &--blue {
    color: $color-active;
  }
  &--white {
    color: $color-white;
  }
}
