.page-footer {
  background-color: $background-footer;
  padding-top: 60px;
  display: flex;
  align-content: center;
  &__wrapper {
    display: flex;
    align-content: center;
    text-align: center;
    flex-direction: column;
  }
}
