.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @include tablet {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  &--back-darker {
    background-color: $color-background-elements;
  }

  &-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 30px;
  }
}
.section-about {
  display: none;
}
