.section-advantages {
  &__icons {
    display: block;
    background-color: $color-background-elements;
    border-radius: 4px;
    padding: 25px 100px;
    margin-bottom: 30px;
    width: 100%;
  }
  &__title {
    text-align: center;
    font-size: 14px;
    line-height: 1.17;
    margin-bottom: 10px;
  }
  &__text {
    font-size: 14px;
    line-height: 1.7;
    color: $color-grey;
  }
}
